# Указать, что все .swift файлы написаны на Swift
# Игнорировать автосгенерированные файлы и файлы настройки проекта
*.xcworkspace linguist-vendored
*.xcodeproj linguist-vendored
*.xcuserdata linguist-generated
*.xcuserdatad linguist-generated
Pods/** linguist-vendored